In [35]:
import pandas as pd
import vaex
import os
import matplotlib.pyplot as plt
import datetime
from plotnine import *
import re
path = r"D:\datasets\mimiciii"
os.chdir(path)

In [36]:
d_lab = pd.read_csv("D_LABITEMS.csv.gz")
d_items = pd.read_csv("D_ITEMS.csv.gz")
labevents = vaex.open("LABEVENTS.csv.hdf5")
chartevents = vaex.open("CHARTEVENTS.csv.hdf5")

In [37]:
hba1c_id = 50852

In [38]:
hba1c_table = labevents[labevents.ITEMID == hba1c_id]["SUBJECT_ID","HADM_ID","CHARTTIME","VALUENUM"]

In [5]:
#hba1c_table.export_csv(r"F:\myresearch\MIMICIIIsupport\tables\otherlabitems\hba1c.csv")

In [40]:
hba1c_max = hba1c_table.groupby(hba1c_table.SUBJECT_ID,agg=[vaex.agg.max("VALUENUM")])

In [41]:
hba1c_max = hba1c_max.to_pandas_df()

In [42]:
hba1c_max

      SUBJECT_ID  VALUENUM_max
0          88220           5.8
1          88518          10.7
2          88157           5.4
3          88521           5.2
4          88356           5.7
...          ...           ...
9733       17708           5.7
9734         599           5.5
9735       32262           5.5
9736       95860           5.5
9737       19160           8.2

[9738 rows x 2 columns]

In [9]:
hba1c_max.columns= ["subject_id","hba1c"]

In [11]:
hba1c_max.to_csv(r"F:\myresearch\MIMICIIIsupport\tables\otherlabitems\hba1c_max.csv")

In [12]:
cvp_id = [220074,1103,113]

In [13]:
cvp_table = chartevents[chartevents.ITEMID.isin(cvp_id)]

In [14]:
cvp_table.shape

(1712801, 14)

In [16]:
cvp_table.column_names

['ROW_ID',
 'SUBJECT_ID',
 'HADM_ID',
 'ICUSTAY_ID',
 'ITEMID',
 'CHARTTIME',
 'STORETIME',
 'CGID',
 'VALUENUM',
 'VALUEUOM',
 'WARNING',
 'ERROR',
 'RESULTSTATUS',
 'STOPPED']

In [17]:
cvp_table.HADM_ID.unique().shape

(18680,)

In [21]:
cvp_table = cvp_table[["SUBJECT_ID","HADM_ID","ICUSTAY_ID","CHARTTIME","VALUENUM"]]

In [23]:
otherlabitemspath = r"F:\myresearch\MIMICIIIsupport\tables\otherlabitems"

In [24]:
cvp_table.export_csv(otherlabitemspath+r"\cvp.csv")

In [33]:
cvp_stat = cvp_table.groupby(cvp_table.HADM_ID,agg={'cvp': [vaex.agg.max('VALUENUM'), 
                                                            vaex.agg.mean('VALUENUM'),
                                                            vaex.agg.min("VALUENUM"),
                                                            vaex.agg.std("VALUENUM"),
                                                            vaex.agg.var("VALUENUM"),
                                                            
                                                            vaex.agg.sum("VALUENUM"),
                                                            vaex.agg.count("VALUENUM")]
                                                   })

In [34]:
cvp_stat.head()

  #    HADM_ID    cvp_max    cvp_mean    cvp_min    cvp_std    cvp_var    cvp_sum    cvp_count
  0     198845         27    15.7841           6    3.60066   12.9647        1389           88
  1     104131         18     6.75             0    3.73025   13.9148         297           44
  2     100328         10     5.32             0    3.47241   12.0576         133           25
  3     195554         17     9.62069          2    5.11532   26.1665         279           29
  4     124436         14     8.15789          2    3.16665   10.0277         155           19
  5     130536         10     5.88571          3    1.84811    3.41551        206           35
  6     144132         34    14.8667           1    3.55357   12.6278        4237          285
  7     176392         22    13.234            7    2.74608    7.54097        622           47
  8     129527         11     5.73469          0    2.05809    4.23574        281           49
  9     138034         20    11.6875           5    3.5217    12.4023         374           32